html {
    /*background-image: url("asset/anime.png");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    background-color: black;
    color: white;
    font-family: "Ink Free", sans-serif;
}

.center {
    text-align: center;
    align-items: center;
}

#welcome {
    color: #00d7b7;
    padding-top: 2%;
}

#playButton {
    user-select: none;
    position: relative;
    width: 15%;
    height: 50px;
    margin: 10px 0;
    border-radius: 10px;
    color: #fffaff;
    border: none;
    background-image: linear-gradient(135deg, #00d7b7 0%, #007369 100%);
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    transition: all 150ms ease;
}
